
<h3> - <%= developer.first_name %> <%= developer.last_name %> </h3>
<p> Email: <%= developer.email %> </p>
<p>Years of experience: <%= developer.years_experience %> </p>
<%= link_to "current_projects" %>
<%= link_to "info", developer_url(developer.id) %>
