<h3> Add new Project </h3>
<%= form_for @project do |f| %>
  <p> Name: </p>
  <%= f.text_field  :name  %>
  <p> Description: </p>
  <%= f.text_field  :desc %>
  <p> Deadline: </p>
  <%= f.date_field :deadline %>
  <h4> assign developers to this project </h4>
  <%= f.submit "Add new project", class: "btn btn-primary" %>
<% end %>

<div>
  <a href="/" class="btn btn-default">Cancel</a>
</div>
